<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- give permiston to call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADD"
        tools:targetApi="31">
        <activity
            android:name=".screens.ProfileCLientMainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ProfileMainActivity"
            android:exported="false" /> <!-- start of feed back -->
        <activity
            android:name=".Feed_Back.Feed_Back_Update"
            android:exported="false" />
        <activity
            android:name=".Feed_Back.Feed_Back_All"
            android:exported="false" />
        <activity
            android:name=".Feed_Back.FeedBackaAdd"
            android:exported="false" />


<!--        //Admin Hostel//-->

        <activity
            android:name=".Admin_Hostel.Admin_hostel_update"
            android:exported="false" />
        <activity
            android:name=".Admin_Hostel.AdminAllHostels"
            android:exported="false" />
        <activity
            android:name=".Admin_Hostel.Admin_Hostel_single"
            android:exported="false" />
        <activity
            android:name=".Admin_Hostel.Admin_Hostel_Add"
            android:exported="false" />


<!--        //Admin Agent//-->

        <activity
            android:name=".Admin_Agent.Admin_agent_update"
            android:exported="false" />
        <!-- Start of Admin -->
        <activity
            android:name=".Admin_Agent.AdminAllAgents"
            android:exported="false" />
        <activity
            android:name=".Admin_Agent.Admin_Agent_Add"
            android:exported="false" />
        <activity
            android:name=".Admin_Agent.Admin_Agent_single"
            android:exported="false" /> <!-- end of Admin -->
        <!-- Start of User agents -->
        <activity
            android:name=".Client_Agent.Client_Agent_single"
            android:exported="false" />
        <activity
            android:name=".Client_Agent.Client_Agent_All"
            android:exported="false" />

        <!-- end of User agents -->


        <!-- Start of home page -->
        <activity
            android:name=".ClientMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <!-- end of home page -->


        <!-- Start of log,sign,splash -->
        <activity
            android:name=".screens.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC19anF0VsRHVUxokQ1Z0jPzvBD2i_uSIo" />

        <activity
            android:name=".Mymap.MapsActivity"
            android:label="@string/title_activity_maps"></activity>

            <activity
                android:name=".Mymap.MainActivity"
                android:exported="false" />

    </application>

</manifest>